@model Сундучок.ViewModels.AssortmentViewModel

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <h2>Категории</h2>
                    <div class="panel-group category-products" id="accordian">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="#" onclick="filter('Техника')">Техника</a></h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="#" onclick="filter('Одежда')">Одежда</a></h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="#" onclick="filter('Обувь')">Обувь</a></h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="#" onclick="filter('Литература')">Литература</a></h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="#" onclick="filter('Канцелярия')">Канцелярия</a></h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="#" onclick="filter('Прочее')">Прочее</a></h4>
                            </div>
                        </div>
                    </div><!--/category-products-->

                </div>
            </div>

            <div id="content" class="col-sm-9 padding-right">
                <div class="features_items">
                    <!--features_items-->
                    <h2 class="title text-center">Ассортимент</h2>
                    @foreach (var item in Model.Products)
                    {
                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <img src="data:image/jpeg;base64,@(Convert.ToBase64String(item.Picture.Image))" alt="" />
                                        <h2>@item.Price бр</h2>
                                        <p>@item.Name</p>
                                    </div>
                                    <div class="product-overlay">
                                        <div class="overlay-content">
                                            <h2>@item.Price бр</h2>
                                            <p><a onclick="GetDetails(@item.Id)">@item.Name</a></p>
                                            <a onclick="AddToCart(@item.Id)" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>В корзину</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div><!--features_items-->

                <paging total-records="Model.TotalPages"
                        page-no="Model.CurrentPage"
                        page-size="1"
                        show-page-size-nav="false"
                        show-total-pages="false"
                        show-total-records="false">
                </paging>


            </div>
        </div>
    </div>
</section>